$blue-950: hsl(256, 25%, 20%);
$blue-500: hsl(216, 30%, 68%);
$gray-950: hsl(270, 9%, 17%);
$gray-700: hsl(273, 4%, 51%);
$gray-50: hsl(0, 0%, 98%);

$font-heading: "DM Serif Display", serif;
$font-body: "Karla", sans-serif;

$spacing-0-5: 0.5rem;
$spacing-1: 1rem;
$spacing-1-5: 1.5rem;
$spacing-2: 2rem;
$spacing-2-5: 2.5rem;

$bp-tablet: 992px;
$bp-mobile: 768px;
