@import "../../../style/variables";

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background: $gray-50;

  &__inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__desktop {
    display: flex;
    align-items: center;
    gap: 1.75rem;

    a {
      text-transform: uppercase;
      color: $gray-700;
      font-weight: 700;
      letter-spacing: 1px;
      font-size: 0.85rem;

      &:hover {
        color: $blue-950;
      }
    }
  }

  &__toggle {
    display: none;
    border: none;
    background: transparent;
  }
}

.mobile-menu {
  display: none;
}

@media (max-width: $bp-mobile) {
  .navbar {
    &__desktop {
      display: none;
    }
    &__toggle {
      display: block;
    }
  }

  .navbar__mobile-menu {
    display: block;
    position: absolute;
    inset: 80px 0 auto 0;
    min-height: calc(100vh - 80px);
    background: $gray-950;
    color: $gray-50;
    overflow: hidden;

    &__links {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      padding: 3rem 1.5rem;
      position: relative;
      z-index: 2;

      a {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
      }
    }

    &__btn {
      width: min(100%, 320px);
    }
  }
  .navbar__mobile-menu__pattern {
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
}

@media (max-width: $bp-tablet) {
  .navbar__mobile-menu__links {
    padding: 4rem 1.5rem;
  }
  .navbar__mobile-menu__pattern {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
  }
}
